:root {
  // !fonts ---------------------
  --main-font: 'Playfair Display', serif; // 400, 600 , 700
  --sub-font: 'Open Sans', sans-serif; // 400

  // !colors -------------------
  --main-color: #6D1614;
  --background-color: #FFFFFF;
  --gray-color: #7f7f7f;
  --dark-color: #222222;
}